{% extends "header.html" %}
{% block content %}
{% if error_msg %}
    <p>{{ error_msg }}</p>
{% endif %}

<div class="container-fluid">
    
    {% for result in results %}
    <ul>
    <div class="media">
        <div class="media-body">
        <h5 class="mt-0"><li>Song: {{ result.song }}, Artist: </a> <a href="{{ url_for('songs.artist_details', artist=result.artist) }}">{{ result.artist }}</a>, Album: {{result.album}}</li></h5>
        </div>
    </div>
    </ul>
    {% endfor %}
    {% if current_user.is_authenticated %}
    {# Movie review submission form #}
    <div class="row">
    <div class="col">
        <form method="POST" action="">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.song.label }}
            {{ form.song(class="form-control") }}
            {{ form.artist.label }}
            {{ form.artist(class="form-control") }}

            {% if form.song.errors %}
            <div class="alert alert-warning" role="alert">
            {% for error in form.song.errors %}
            <span>{{ error }}</span>
            {% endfor %}
            </div>
            {% endif %}

        </div>
        {{ form.submit() }}
        </form>
    </div>
    </div>
    <a href="{{ url_for('songs.user_detail', username = current_user.username)}}">My playlist</a>
    {% endif %}
</div>

{% endblock %}